.toggle-play,
.toggle-play i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-play {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 12000;
  border: none;
  outline: none;
  background: var(--border);
  color: var(--light);
  box-shadow: 0 0 0 5px #F781F3, 0 0 30px rgba(0, 0, 0, .2);
  transition: .2s;
}

.toggle-play:hover {
  color: var(--shadow);
  box-shadow: 0 0 0 10px #8A0886, 0 0 30px rgba(0, 0, 0, .2);
  cursor: pointer;
}

.toggle-play i {
  font-size: 24px;
  color: white;
}
.fa {
  font-size: 24px;
}

.fa-music {
  color: red;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #000;
}

.text-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pixie {
  z-index:10;
  position: fixed;
  top: 0;
  left: 0;
}

.HCJ { 
   position: absolute; 
   top: 300px; 
   left: 400px;
   color: red;
   height: 250px;
   width: 700px;
}

img {
  display: block;
  margin: auto;
  margin-top: 50px;
}

